@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* only custom ccs without tailwind */
html,
body,
#root,
.app {
  height: 100%;
  background-color: #fbf9f3;
  @apply text-white;
  font-family: "Quicksand", sans-serif;
}
